doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Developed By M Abdur Rokib Promy')
    meta(name='author', content='cosmic')
    meta(name='keywords', content='Bootstrap 3, Template, Theme, Responsive, Corporate, Business')
    link(rel='shortcut icon', href='/img/favicon.png')
    title  ABTRANET | Shipping Details
    // Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/theme.css', rel='stylesheet')
    link(href='/css/bootstrap-reset.css', rel='stylesheet')
    // external css
    link(href='/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/flexslider.css')
    link(href='/assets/bxslider/jquery.bxslider.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/animate.css')
    link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/style-responsive.css', rel='stylesheet')
  body
    // header start design inside body
    header.head-section
      .navbar.navbar-default.navbar-static-top.container
        .navbar-header
          button.navbar-toggle(data-target='.navbar-collapse', data-toggle='collapse', type='button')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(alt='sample', src='/images/earthgif.gif')
            span ABTRANET Global Solutions
        .navbar-collapse.collapse
          // nav bar horizontal
          ul.nav.navbar-nav
            li
              // home menu option
              a(href='/') Home
            // about menu option
            li
              a(href='/about') About
            // service menu option
            li
              a(href='/service') Services
            // contact menu option
            li
              a(href='/contact') Contact
            // products menu option
            li
              a(href='/products') Products
            li
              // shoppingCart menu option
              a(href='/products/cart') Shopping Cart
            // TRANSLATE BOX
            #google_translate_element2
            script(type='text/javascript').
              function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en', autoDisplay: false}, 'google_translate_element2');}
            script(type='text/javascript', src='/https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2')
        // END TRANSLATE BOX
    // header end
    // breadcrumbs start
    .breadcrumbs
      .container
        .row
          .col-lg-4.col-sm-4
            h1 Shipping Details 
      // breadcrumbs end
      // container start
      .registration-bg
        .container
          form.form-signin.wow.fadeInUp(method='post', action='/products/payment')
            h2.form-signin-heading Enter Information
            .login-wrap
              if errorMessage
                p(style="color: red") #{errorMessage}
              p All is Required
              input.form-control(type='text', name='firstName', placeholder='First Name *', autofocus='')
              input.form-control(type='text', name='lastName' placeholder='Last Name *', autofocus='')
              input.form-control(type='text', name='steet' placeholder='Street *', autofocus='')
              input.form-control(type='text', name='city' placeholder='City *', autofocus='')
              input.form-control(type='text', name='state' placeholder='State *', autofocus='')
              input.form-control(type='text', name='postalCode' placeholder='Postal code *', autofocus='')
              input.form-control(type='text', name='country' placeholder='Country *', autofocus='')
              input.form-control(type='text', name='phone' placeholder='Phone Number*', autofocus='')
              input.form-control(type='text', name='email' placeholder='Email *', autofocus='')
              input.form-control(type='text', name='ccNum' placeholder='Credit card Number *', autofocus='')
              input.form-control(type='text', name='expMonth' placeholder='Expire Month *', autofocus='')
              input.form-control(type='text', name='expYear' placeholder='Expire Year *', autofocus='')
              input.form-control(type='text', name='ccv' placeholder='ccv *', autofocus='')

              button.btn.btn-lg.btn-login.btn-block(type='submit', value='Process')
                | Process
                // onclick="window.location.href='https://www.paypal.com/signin/?country.x=US'"
      // container end
      br
      br
      br
      br
      br
      br
      br
      // small footer start
      footer.footer-small
        .container
          .row
            .col-lg-6.col-sm-6.pull-right
              ul.social-link-footer.list-unstyled
                // link to FACEBOOK
                li.wow.flipInX(data-wow-duration='2s', data-wow-delay='.1s')
                  a(href='/https://www.facebook.com/abtranet')
                    i.fa.fa-facebook
                // link to LINKEDIN
                li.wow.flipInX(data-wow-duration='2s', data-wow-delay='.4s')
                  a(href='/#')
                    i.fa.fa-linkedin
                // link to TWITTER
                li.wow.flipInX(data-wow-duration='2s', data-wow-delay='.5s')
                  a(href='/#')
                    i.fa.fa-twitter
            .col-md-4
              .copyright
                p Copyright 2015.  All rights reserved.
      // small footer end
      // js placed at the end of the document so the pages load faster
      script(src='/js/jquery.js')
      script(src='/js/bootstrap.min.js')
      script(type='text/javascript', src='/js/hover-dropdown.js')
      script(defer='', src='/js/jquery.flexslider.js')
      script(type='text/javascript', src='/assets/bxslider/jquery.bxslider.js')
      script(src='/js/jquery.easing.min.js')
      script(src='/js/link-hover.js')
      // common script for all pages
      script(src='/js/common-scripts.js')
      script(src='/js/wow.min.js')
      script.
        wow = new WOW(
        {
        boxClass:     'wow',      // default
        animateClass: 'animated', // default
        offset:       0          // default
        }
        )
        wow.init();
